body{
	font-family: 'Cabin', sans-serif;
	h1{
		font-family: 'Cabin', sans-serif;
	}
	h1   {color:blue}
	

}

 Custom, iPhone Retina 
@media (max-width : 375px) and (max-width: 482px) {
	html,body {
		background-color: grey;
	}
}

Small Devices, Ipads 
@media (min-width : 768px) and (max-device-width: 1080px) {
	html,body{
		background-color: aliceblue;
	}
}
